<div id="menu">
			<ul>
				<li class="current_page_item"><a href="/"Home</a></li>
				<li><a href="/blog/mypage">Blog</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Links</a></li>
				<li><a href="/contacts/new">Contact</a></li>
			</ul>
</div>
		<!-- end #menu -->
		<div id="search">
			<form method="get" action="">
				<fieldset>
				<input type="text" name="s" id="search-text" size="15" />
				<input type="submit" id="search-submit" value="Search" />
				</fieldset>
			</form>
		</div>